*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%; /* rem --> 1rem = 10px*/
}

body{
    background-color: #02b3bb;
    min-width: 320px;
}

.header__fig-icon {
    width: 100px;
    height: 100px;
    margin-left: 0px;
}

.header {
    width: 100%;
    height: 120px;
    margin-right: auto;
    background-color: #2e9095;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: 0px 1px 0px #2c696f, 0px 2px 0px #337173, 0px 3px 0px #3c6e70, 0px 4px 0px #417e80, 0px 5px 0px #398a8d, 0px 6px 0px #4cacb0, 0px 7px 0px #4dbcc0, 0px 8px 7px #5dd3d7;
}

.header__h1 {
    font-family: sans-serif;
    font-size: 6rem;
    color: #545454;
    text-shadow: 1.5px 1.5px 4px #8a8a8a, 3px 3px 4px white;
    margin-left: 30px;
    display: inline;
}

.header__h1 span{
    color: #f2ebd3;
}

.status-action {
    display: flex;
    margin-top: 25px;
    font-size: 25px;
    justify-content: space-around;
    height: 30px;
  }
  
  .status span {
    color: #F2EBD3;
  }
  
  .reset {
    cursor: pointer;
  }
  
  .reset:hover {
    color: #F2EBD3;
  }

.Volver_Atras{
    color: #39979c;
    font-size: 30px;
    text-decoration: none;
    width: 40px;
    height: 40px;
    display: inline-block;
    border: 2px solid #e0e0e0;
    border-radius: 30%;
    background: rgb(255, 255, 255);
    transition: all 350ms ease;
    text-align: center;
    box-shadow: 0px 1px 0px #c7c8ca, 0px 2px 0px #b1b3b6, 0px 3px 0px #9d9fa2, 0px 4px 0px #8a8c8e, 0px 5px 0px #77787b, 0px 6px 0px #636466, 0px 7px 0px #4d4d4f, 0px 8px 7px #001135;
    animation-name: atras;
    animation-delay: .5s;
    animation-iteration-count: 8;
    animation-direction: alternate;
    animation-duration: .4s;
}

#atras {
    margin-left: auto;
    margin-right: 30px;
}
  
.Volver_Atras:hover{
    transform: scale(0.95);
    box-shadow: 0px 1px 0px #c7c8ca, 0px 2px 0px #b1b3b6, 0px 3px 0px #9d9fa2, 0px 4px 0px #8a8c8e, 0px 6px 5px #001135;
    background-color: rgb(241, 241, 241);
    text-shadow: 0 4px 6px rgb(100, 100, 100);
}

.section{
    width: 100%;
    height: calc(100vh - 100px);
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.section__aside {
    display: none;
}

.section__main{
    display: inline-table;
    border: 6px solid white;
    border-radius: 20px;
    background: #2f9095;
    padding: inherit;
    max-width: 670px;
    min-width: 670px;
    min-height: 670px;
    width: fit-content;
    height: fit-content;
    margin: auto;
    box-shadow: 0 0 30px #0f3e41;
}

#myCanvas {
    width: 620px;
    height: 620px;
    position: absolute;
}

.mostrar {
    display: block;
}

.button_sel{
    display: block;
}

.button_select{
    height: 90%;
    width: 90%;
    margin: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
    font-size: 4.5rem;
}

.section__div-mobile{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.player-mobile-p{
    font-size: 1.8rem;
}

.player-mobile{
    width: 40%;
    height: 100px;
    border: 2px solid white;
    border-radius: 20px;
    background: linear-gradient(#63abf3, black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.juego-grid {
    display: grid;
    background: #2e9095;
    border-radius: 15px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    position: inherit;
    transition: all 500ms ease;
}

.juego-celda {
    height: 200px;
    width: 200px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #02b3bb;
    transition: all 300ms ease;
}

.juego-celda:hover {
    background: #20c1c9;
    transform: scale(1.05);
    box-shadow: 0 0 20px black;
}

.import {
    background: #02b3bb !important;
    box-shadow: 0 0 0 !important;
    transform: scale(1) !important;
}

.x,
.o {
    cursor: default;
    transition: all 800ms ease;
}

.x::after {
    content: '×';
    position: absolute;
    color: #545454;
    font-size: 200px;
    margin-left: 43px;
    margin-top: -25px;
    transition: all 800ms ease;
}

.o::after {
    content: '○';
    position: absolute;
    color: #F2EBD3;
    font-size: 225px;
    margin-left: 38px;
    margin-top: -44px;
    transition: all 800ms ease;
}

.ganador::after {
    color: #fea471;
}

.footer {
    width: 100%;
    height: 50px;
    background-color:#2e9095;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 0px -1px 0px #2c696f, 0px -2px 0px #337173, 0px -3px 0px #3c6e70, 0px -4px 0px #417e80, 0px -5px 0px #398a8d, 0px -6px 0px #4cacb0, 0px -7px 0px #4dbcc0, 0px -8px 7px #5dd3d7;
}

.button_start {
    height: 40px;
    width: 200px;
    border-radius: 10px;
    border: none;
    background-color: #b5f7f9;
    color: #010703;
    font-size: 1.4rem;
    font-weight: bold;
    margin-left: 20px;
    box-shadow: 0px 0px 9px #293030;
    cursor: pointer;
    transition: all 400ms ease;
}

.button_start_1 {
    height: 40px;
    width: 200px;
    border-radius: 10px;
    border: none;
    background-color: #b5f7f9;
    color: #010703;
    font-size: 1.4rem;
    font-weight: bold;
    box-shadow: 0px 0px 9px #293030;
    cursor: pointer;
    transition: all 400ms ease;
}

.button_start:hover, .button_start_1:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 18px #222727;
    background-color: #f9e7b8;
}

.button_start:active, .button_start_1:active {
    transform: scale(1.05);
    box-shadow: 0px 0px 13.5px #222727;
    background-color: #dac899;
}

.start_button{
    width: 120px;
    font-size: 2rem;
}

.hidden {
    display: none;
}

.opacidad {
    opacity: 0%;
}

@media only screen and (max-height: 900px) {
    .juego-celda {
        height: 150px;
        width: 150px;
    }

    .section__main{
        max-width: 522px;
        min-width: 522px;
        min-height: 522px;
    }

    #myCanvas {
        width: 470px;
        height: 470px;
    }

    .x::after {
        font-size: 160px;
        margin-left: 30px;
        margin-top: -26px;
    }
    
    .o::after {
        font-size: 195px;
        margin-left: 20px;
        margin-top: -50px;
    }
}

@media only screen and (max-height: 776px) {
    .juego-celda {
        height: 120px;
        width: 120px;
    }

    .section__main{
        max-width: 432px;
        min-width: 432px;
        min-height: 432px;
    }

    #myCanvas {
        width: 380px;
        height: 380px;
    }

    .x::after {
        font-size: 150px;
        margin-left: 17px;
        margin-top: -35px;
    }
    
    .o::after {
        font-size: 190px;
        margin-left: 7px;
        margin-top: -63px;
    }
}