*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%; /* rem --> 1rem = 10px*/
}

body{
    background-color: #41b3b9;
    min-width: 320px;
}

.header__fig-icon {
    width: 100px;
    height: 100px;
    margin-left: 0px;
}

.header {
    width: 100%;
    height: 120px;
    margin-right: auto;
    background-color: #2e9095;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 20px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: 0px 1px 0px #2c696f, 0px 2px 0px #337173, 0px 3px 0px #3c6e70, 0px 4px 0px #417e80, 0px 5px 0px #398a8d, 0px 6px 0px #4cacb0, 0px 7px 0px #4dbcc0, 0px 8px 7px #5dd3d7;
}

.header__h1 {
    text-align: center;
    font-family: 'Bauhaus 93' , Source Sans Pro;
    font-size: 6rem;
    text-shadow: 0px 1px 0px #5980d0, 0px 2px 0px #3e6db3, 0px 3px 0px #386cb9, 0px 4px 0px #3f6994, 0px 5px 0px #31619c, 0px 6px 0px #265e94, 0px 7px 0px #23518c, 0px 8px 7px #0b3c73;
    color: rgb(181 230 249);
}

.section{
    width: 100%;
    height: calc(100vh - 100px);
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.section__aside {
    display: none;
}

.section__main{
    width: 100%;
    height: 70%;
    border: 6px solid white;
    border-radius: 20px;
    padding: 10px 10px;
}

.section__main-table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.section__main-table td{
    text-align: center;
    font-size: 4.5rem;
    width: 33.33333%;
}

.section__main-table tr{
    height: 33.33333%;
}

.button_sel{
    display: block;
}

.button_select{
    height: 90%;
    width: 90%;
    margin: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
    font-size: 4.5rem;
}

.section__div-mobile{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.player-mobile-p{
    font-size: 1.8rem;
}

.player-mobile{
    width: 40%;
    height: 100px;
    border: 2px solid white;
    border-radius: 20px;
    background: linear-gradient(#63abf3, black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.footer {
    width: 100%;
    height: 50px;
    background-color:#2e9095;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 0px -1px 0px #2c696f, 0px -2px 0px #337173, 0px -3px 0px #3c6e70, 0px -4px 0px #417e80, 0px -5px 0px #398a8d, 0px -6px 0px #4cacb0, 0px -7px 0px #4dbcc0, 0px -8px 7px #5dd3d7;
}

.Volver_Atras{
    color: #0e93bb;
    font-size: 30px;
    text-decoration: none;
    width: 40px;
    height: 40px;
    display: inline-block;
    border: 2px solid #e0e0e0;
    border-radius: 30%;
    background: rgb(255, 255, 255);
    transition: all 350ms ease;
    text-align: center;
    margin: 5px 0 0 5px;
    box-shadow: 0px 1px 0px #c7c8ca, 0px 2px 0px #b1b3b6, 0px 3px 0px #9d9fa2, 0px 4px 0px #8a8c8e, 0px 5px 0px #77787b, 0px 6px 0px #636466, 0px 7px 0px #4d4d4f, 0px 8px 7px #001135;
    animation-name: atras;
    animation-delay: .5s;
    animation-iteration-count: 8;
    animation-direction: alternate;
    animation-duration: .4s;
}
  
.Volver_Atras:hover{
    transform: scale(0.95);
    box-shadow: 0px 1px 0px #c7c8ca, 0px 2px 0px #b1b3b6, 0px 3px 0px #9d9fa2, 0px 4px 0px #8a8c8e, 0px 6px 5px #001135;
    background-color: rgb(241, 241, 241);
    text-shadow: 0 4px 6px rgb(100, 100, 100);
}

.button_start {
    height: 40px;
    width: 200px;
    border-radius: 10px;
    border: none;
    background-color: #b5f7f9;
    color: #010703;
    font-size: 1.4rem;
    font-weight: bold;
    margin-left: 20px;
    box-shadow: 0px 0px 9px #293030;
}

.button_start_1 {
    height: 40px;
    width: 200px;
    border-radius: 10px;
    border: none;
    background-color: #b5f7f9;
    color: #010703;
    font-size: 1.4rem;
    font-weight: bold;
    box-shadow: 0px 0px 9px #293030;
}

.modal-container{
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.modal{
    width: 60%;
    height: 70%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px 10px;
    position: relative;
    transition: transform 1s;
    transform: translateY(0%);
}

.modal-close{
    transform: translateY(-200%)
}

.modal img{
    width: 30%;
}

.modal-text{
    font-size: 1.5rem;
    color: tomato;
    text-align: center;
}

.start_button{
    width: 120px;
    font-size: 2rem;
}