

.section{
    flex-direction: row;
    height: calc(100vh - 100px);
}

.section__div-mobile {
    display: none;
}

.section__aside{
    width: 20%;
    height: 100%;
    border: 6px solid white;
    border-radius: 20px;
    background: linear-gradient(#319fa5, #07292b);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.section__aside-h2{
    color: white;
    letter-spacing: 1px;
    font-size: 2.5rem;
    text-align: center;
    font-family: sans-serif;
    text-shadow: 0 0 0.1em rgb(255 244 244), 0 0 0.2em rgb(253 237 228), 0 0 0.3em rgb(253 163 130), 0 0 0.4em rgb(248 154 120), 0 0 0.6em rgb(253 148 110), 0 0 8em rgb(253 141 100), 0 0 1em rgb(251 133 90), 0 0 1.2em rgb(81 71 67);
    color: rgb(255, 255, 255);
}

.section__aside-simbGame{
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 150px;
    color: #d9d1b4;
    text-shadow: 0 0 12px black, 0 0 7px white;
}

.section__div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.section__div-p{
    font-size: 2rem;
    font-family: 'source sans pro';
    text-shadow: 0px 1px 0px #5980d0, 0px 2px 0px #3e6db3, 0px 3px 0px #386cb9, 0px 4px 0px #3f6994, 0px 5px 0px #31619c, 0px 6px 0px #265e94, 0px 7px 0px #23518c, 0px 8px 7px #0b3c73;
    color: rgb(181 230 249);
}

.section__div-number-score{
    font-size: 4rem;
    font-family: 'source sans pro';
    text-shadow: 0px 1px 0px #5980d0, 0px 2px 0px #3e6db3, 0px 3px 0px #386cb9, 0px 4px 0px #3f6994, 0px 5px 0px #31619c, 0px 6px 0px #265e94, 0px 7px 0px #23518c, 0px 8px 7px #0b3c73;
    color: rgb(181 230 249);
}

.section__main{
    width: 50%;
    height: 100%;
    border: 6px solid white;
    border-radius: 20px;
    padding: 10px 10px;
}

.footer{
    height: 50px;
}